apiVersion: apps/v1
kind: Deployment
metadata:
  name: valkey-operator
  namespace: system
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: valkey-operator
    app.kubernetes.io/managed-by: kustomize
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
      app.kubernetes.io/name: valkey-operator
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: controller-manager
        app.kubernetes.io/name: valkey-operator
    spec:
      securityContext:
        runAsNonRoot: true
        readOnlyRootFilesystem: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - command:
        - /manager
        args:
          - --leader-elect
          - --health-probe-bind-address=:8081
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_IPS
          valueFrom:
            fieldRef:
              fieldPath: status.podIPs
        - name: POD_UID
          valueFrom:
            fieldRef:
              fieldPath: metadata.uid
        - name: DEFAULT_REGISTRY
          valueFrom:
            fieldRef:
              fieldPath: metadata.annotations['defaultRegistry']
        - name: OPERATOR_IMAGE_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.annotations['operatorImageName']
        - name: OPERATOR_VERSION
          valueFrom:
            fieldRef:
              fieldPath: metadata.annotations['operatorVersion']
        - name: DEFAULT_EXPORTER_IMAGE_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.annotations['defaultExporterImageName']
        - name: DEFAULT_EXPORTER_VERSION
          valueFrom:
            fieldRef:
              fieldPath: metadata.annotations['defaultExporterVersion']
        - name: VALKEY_IMAGE_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.annotations['valkeyImageName']
        image: controller:latest
        name: manager
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 256Mi
          requests:
            cpu: 100m
            memory: 64Mi
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
